@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.box_corner, .base_vignette, .text2__progress, .text1__progress {
  margin: 50px auto;
  border: solid #FF79DA 2px;
  border-radius: 15px;
}

.base_vignette:hover .vignette1 > p, .text2__progress, .text1__progress_texte {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text2__progress .flex, .text2__progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h1,
h2,
p {
  font-family: "Roboto", sans-serif;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

.separation {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}

.text1__progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.text1__progress__bar {
  background-color: #99E2D0;
  transform: scaleX(0);
  transition: 0.3s ease;
  transform-origin: center right;
}
.text1__progress__affichage__texte {
  display: none;
}
.text1__progress:hover .text1__progress__bar {
  width: 150px;
  transform: scaleX(1);
}
.text1__progress:hover .text1__progress__affichage__texte {
  display: block;
}

.text2__progress .flex {
  align-items: flex-end;
}
.text2__progress .flex .flex_col {
  display: flex;
  flex-direction: column;
}
.text2__progress :hover {
  width: 85%;
}
.text2__progress:hover .text2__progress__bar {
  width: 150px;
  transform: scaleX(1);
}
.text2__progress__bar {
  background-color: #99E2D0;
  transform: scaleX(0);
  transition: 0.3s ease;
  transform-origin: center right;
}

.base_vignette {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.base_vignette:hover .vignette1 {
  transform: scaleX(0.9);
  transform-origin: left;
}
.base_vignette:hover .vignette2 {
  transform: scaleX(1);
  transform-origin: right;
}
.base_vignette:hover .vignette3 {
  width: 150px;
  transform: scaleX(1);
}

.vignette {
  width: 34%;
  border: 1px solid red;
  text-align: center;
}
.vignette1 {
  width: 500px;
  background-color: #9356DC;
  text-align: center;
  transition: 0.5s ease;
}
.vignette2 {
  width: 50px;
  background-color: #FF79DA;
  text-align: center;
  transition: 0.5s ease;
}
.vignette3 {
  transform: scaleX(0);
  background-color: #99E2D0;
  text-align: center;
  transform-origin: right;
  transition: 0.5s ease;
}

.box_corner {
  width: 500px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}
.box_corner .inner {
  width: 450px;
}
.box_corner .inner_inner_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box_corner:hover .inner {
  width: 350px;
  transition: 0.7s ease-in-out;
  transform-origin: left;
}
.box_corner:hover .hover_text {
  transform: scaleX(1);
}
.box_corner:hover .rotate {
  transform: rotate(-360deg);
}

.hover_text {
  height: 100%;
  background-color: #99E2D0;
  transform: scaleX(0);
  transition: 1s ease;
  transform-origin: center right;
}

.hover_icone {
  width: 100px;
  margin-top: 20px;
}
.hover_icone_circle {
  width: 30px;
  height: 30px;
  border: 1px white solid;
  background-color: white;
  border-radius: 50%;
}
.hover_icone_circle {
  margin: auto;
}

.fa-check {
  color: #99E2D0;
}

.rotate {
  transition: 1.2s ease;
}

.fa-check {
  position: relative;
  top: 5px;
  left: 7px;
}

.carre_rotation {
  width: 100px;
  height: 100px;
  background-color: #9356DC;
  transition: 0.5s ease;
}
.carre_rotation:hover {
  transform: rotate(360deg);
}

/*# sourceMappingURL=style.css.map */
